/*.ekv
/*.txt
/*.vdf
/*.rc
/*.scr
/ai.cfg
/autoexec.cfg
/config.360.cfg
/config.cfg
/config_default.cfg
/controller.360.cfg
/controller.cfg
/controller_accelerated_hp.cfg
/coop
/default.cfg
/entity.cfg
/game.cfg
/game360.cfg
/gamemode_*.cfg
/gameps3.cfg
/give_all_items.cfg
/lab.cfg
/listenserver.cfg
/map_edit.cfg
/modsettings.cfg
/nav_bindings.cfg
/navedit.cfg
/start.cfg
/steering_wheel.cfg
/test.cfg
/thirdperson.cfg
/thirdperson_joy360.cfg
/thirdperson_keypad.cfg
/thirdperson_mayamode.cfg
/undo360controller.cfg
